body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
  margin: 0;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 320px;
  max-width: 90%;
  padding: 20px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card h1 {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0px 15px 0px;
  color: hsl(218, 44%, 22%);
  line-height: 1.2;
}

.card p {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
  margin-bottom: 20px;
  line-height: 1.5;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: 700;
}
